<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="da-dk" lang="da-dk" >

<!-- <!DOCTYPE html>
<html> -->



<head>



<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<link href="{{ "/css/style.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ "/thumbnailviewer.css" | prepend: site.baseurl }}" type="text/css" />

<!-- Favicons (made with RealFaviconGenerator.net) -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">
<link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}" color="#73ba25">
<link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">
<meta name="msapplication-TileColor" content="#73ba25">
<meta name="msapplication-config" content="{{ '/browserconfig.xml' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">
<meta name="theme-color" content="#73ba25">
