<div id="topLeft">

<div class="content-title">Getting Started</div>
    <a href="index.html" class="content-text">1. Introduction</a><br />
    <a href="switching.php" class="content-text">2. Switching to GNU/Linux</a><br />
    <a href="acquisition.php" class="content-text">3. Getting openSUSE</a><br />
    <a href="installation.php" class="content-text">4. Installation</a><br />

<div class="content-title">The Fundamentals</div>
    <a href="kde.php" class="content-text">5. KDE Plasma Workspace</a><br />
    <a href="apps.php" class="content-text">6. Apps for Common Tasks</a><br />
    <a href="security.php" class="content-text">7. Security and Root</a><br />
    <a href="command.php" class="content-text">8. Terminal</a><br />
    <a href="yast.php" class="content-text">9. Admin. Settings (YaST)</a><br />
    <a href="installpackage.php" class="content-text">10. Installing Software</a><br />
    <a href="repositories.php" class="content-text">11. Software Repositories</a><br />

<div class="content-title">Setup</div>
    <a href="windows.php" class="content-text">12. MS Windows Interop</a><br />
    <a href="codecs.php" class="content-text">13. Multimedia Codecs</a><br />
    <a href="3d.php" class="content-text">14. Graphics Drivers</a><br />
    <a href="wlan.php" class="content-text">15. Wifi</a><br />

<div class="content-title">Appendix</div>
    <a href="help.php" class="content-text">A: Help and Docs</a><br />
    <a href="games.php" class="content-text">B: Games</a><br />
    <a href="under.php" class="content-text">C. Under the Hood</a><br />
    <a href="history.php" class="content-text">D. History and Background</a><br />
    <a href="contribute.php" class="content-text">E: Getting Involved</a><br />
    <a href="license.php" class="content-text">GNU Free Documentation License</a>

<!--
<br /><br />

<center><a href="https://en.opensuse.org/Portal:15.3"><img src="http://counter.opensuse.org/small" border="0" alt="countdown" /></a></center><br />
-->
</div>
